[Unit]
Description=carline-go
After=network.target

[Service]
# 项目在服务器 /home/go/luck-go
ExecStart=/home/go/luck-go/tmp/main
WorkingDirectory=/home/go/luck-go
User=go
Restart=always

[Install]
WantedBy=multi-user.target

