[Unit]
Description=Job Service for Carline Go Application
After=network.target

[Service]
# 项目在服务器 /home/go/luck-go
ExecStart=/home/go/luck-go/build/main
WorkingDirectory=/home/go/luck-go
User=go
Restart=always

[Install]
WantedBy=multi-user.target

